body {
    max-width: 700px;
    text-align: center;
    background-color: #E7F0EF;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 10%;
    margin: 0 auto;
    
    /* 3. CLEAN UP */
    text-align: left;       /* Optional: Hana's text is left-aligned, not centered */
    padding: 5% 20px;       /* Keep top padding, but reduce side padding */
}

pre {
    background-color: #000000;
    text-align: left;
    color: #FFFFFF;
    border-style: solid;
    border-color: #5b1647;
    border-width: 1px;
    font-size: small;
}

figcaption {
    font: 10px monospace;   
    color: #707070;
}
