body {
    text-align: center;
    background-color: #E7F0EF;
    font-family: monospace;
    padding: 5% 10%;
}

code {
    background-color: #FFFFFF;
}

pre {
    background-origin: border-box;
    background-clip: border-box;
    display: block;
    text-align: left;
    border-style: solid;
    border-color: #303841;
    border-width: 1px;
    font-size: small;
}

figcaption {
    font: 10px monospace;   
    color: #707070;
}
