body {
    max-width: 700px;
    text-align: left;
    background-color: #E7F0EF;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 5% 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}

mark {
    /* * You must use !important here if the syntax highlighter 
     * is overriding the background of the <span> elements inside.
     */
    background-color: #FF9966; /* Use a bright yellow or green */
    color: #000000 !important; /* Ensure the text is readable */
    padding: 2px 4px;
    border-radius: 2px;
}

pre {
    background-color: #000000;
    text-align: left;
    color: #FFFFFF;
    border-style: solid;
    border-color: #5b1647;
    border-width: 1px;
    font-size: small;
}

figcaption {
    font: 10px monospace;   
    color: #707070;
}
