body {
    text-align: center;
    background-color: #E7F0EF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 10%;
}

code {
    background: whitesmoke;
}

pre {
    text-align: left;
    border: #E0A000;
    border-width: 1px;
}
